* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 헤더 밑 메인으로 페이지 요소 감싸기 (통일) */
.main {
  margin: 30px 5%;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: black;
}

#into {
  margin-bottom: 10px;
}

#section__box {
  display: flex;
  gap: 3rem;
  /* padding: 0 80px; */
}
#section__chat {
  flex: 4;
}

#section__sidebar {
  /* width: 250px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &hr {
    color: white;
  }
}
/**/
.sidebar {
  font-weight: bold;
  background-color: white;
  /* border: 1px solid; */ /* sidebar 테두리 */
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transfrom 0.2s ease;
  box-shadow: 0.2 ease;
}

.sidebar:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.sidebar:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#section__box {
  /* flex: 4; */
  display: flex;
  flex-direction: row;
}

#chat__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* border: 1px solid black; */
}

.chat__item {
  width: 240px;
  height: 340px;
  border: solid 1px gray;
  border-radius: 20px;
  padding: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.chat__item__img-wrapper {
  width: 100%;
  height: 239px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chat__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.chat__info {
  display: flex;
  text-align: center;
  width: 100%;
  gap: 0.5rem;
}

.chat__type {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.chat__item__title {
  font-size: 18px;
  margin-left: 5px;
}

.chat__item__price {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1155px) {
  #section__box {
    flex-direction: column;
  }
  #section__chat {
    flex: 1;
  }

  #section__sidebar {
    /* width: 250px; */
    flex: 1;
  }
}
