* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/login.png);    background-repeat: no-repeat;        /* 반복 없이 */
  background-size: cover;              /* 화면 전체를 채우도록 */
  background-position: center center;  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

main {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 공통 form box */
.box {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box legend {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* 프로필 이미지 */
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

/* 입력 요소 */
input {
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #C6C6C6;
  border-radius: 6px;
}

input::placeholder {
  color: #929294;
}

/* 버튼 스타일 */
.btn {
  height: 50px;
  background-color: #FF6600;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #ae4a08;
}

/* 포커스 스타일 */
input:focus {
  outline: none;
  border: 2px solid #FF6600;
}
